{% load static %}
<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>YokohamaFMarinos_Player_Directry</title>
    <link rel="stylesheet" href="{% static "css/style.css" %}"/>
    <link rel="stylesheet" href="{% static "css/player_directory.css" %}"/>
    <script src="{% static 'javascript/sample.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.1/js/jquery.tablesorter.min.js"></script>
    <script src="{% static 'javascript/tablesorter.js' %}"></script>
  </head>
  <body>
    <header>
      <h1>YokohamaF･Marinos Info</h1>
    </header>
    <h2 id = "subtitle"><span class="border-bottom">Player Directry</span></h2>

    <div id = 'pos_data'>
      <p>Number of players per position</p>
      <table border="1" align="center">
        <tr>
          {% for h in pos_header %}
            <th>{{h}}</th>
          {% endfor %}
        </tr>
        <tr>
          {% for pos_num in num_by_pos%}
            <td>{{pos_num}}</td>
          {% endfor %}
        </tr>
      </table>
    </div>

    <div id = 'playerdirectory'>
      <p>Player Directory</p>
      <table border="1" align="center"　class="tablesorter" id="myTable">
        <thead>
        <tr>
          {% for h in header %}
            <th>{{h}} <svg xmlns="http://www.w3.org/2000/svg" width="14" height="12" fill="currentColor" class="bi bi-arrow-down-up" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5zm-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5z"/>
            </svg></th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for i in val %}
        <tr>
          {% for j in i　%}
          <td>{{j}}</td>
          {% endfor%}
        {% endfor %}
      </tbody>
      </table>
    </div>

    <p id ="home_link"><a href="{% url 'webapp:index' %}">HOMEに戻る</a></p>

    <footer>
      <p>MADE BY <b id = 'test'>{{ name }}</b>.</p>
    </footer>
  </body>
</html>
