{% load static %}
<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>YokohamaFMarinos_Player_Directory_upload</title>
    <link rel="stylesheet" href="{% static "css/style.css" %}"/>
    <script src="{% static 'javascript/sample.js' %}"></script>
  </head>
  <body>
    <header>
        <h1>YokohamaF･Marinos Info</h1>
    </header>

    <h2 id = "subtitle">Player Directory upload</h2>
    {% block content %}
    <h3>選手データの登録</h3>
    <form action="{% url 'webapp:upload' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" class="dropify" data-default-file="ファイルを選択してください" name="csv">
        <button type="submit" class="btn" name="button">アップロード</button>
    </form>
    {% endblock content %}

    <footer>
        <p>MADE BY <b id = 'test'>Yuki SHIMBO</b>.</p>
      </footer>
  </body>
    
    
